<br>
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %><br>
    <% @product.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :quantity %><br>
    <%= form.text_area :quantity %>
    <% @product.errors.full_messages_for(:quantity).each do |message| %>
    <% end %><br>
  </div>

  <div>
    <%= form.label :details %><br>
    <%= form.text_area :details %><br>
    <% @product.errors.full_messages_for(:details).each do |message| %>
    <% end %>
  </div>

  <div>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.select :category_id, Category.pluck(:name, :id), :prompt => 'Select Category' %>
  </div><br>

  <div>
    <%= form.submit %>
  </div>
<% end %>
