<div  class="home_button">
  <%= button_to root_path, method: :get, class: 'btn' do %>
    <i class="fa fa-home"></i> Home</button>
  <% end %>
</div>
</div>
<div class="show_page">
  <h2><%= @product.name %></h2>
  <p>
    <%= @product.details %>
  </p>

<% if current_user.seller %>
<% else %>
  <% if @product.quantity == 0 %>
   <p> Out of stock</p>
  <% else %>
    <p>
      <p>Product Quantity</p>
      <%= @product.quantity %>
    <%= form_with url: "/products/#{@product.id}/buy_now" do |form| %>
      <div>
        <%= form.label :Quantity %><br>
        <%= form.select(:quantity, (1..@product.quantity).to_a, {}, {class: "form-control"})  %>
      </div><br>
      
      <div  class="buy_now">
        <%= button_tag( class: "btn") do %>
          Buy Now<i class="fa fa-shopping-cart"></i>
       <% end %>
      </div>
    <% end %>
    </p>
  <% end %>
<% end %>


